extends ../node_modules/pug-bootstrap/_bootstrap

append styles
	//	!-- Custom styles for this template --
	link(href="/css/cover.css", rel="stylesheet")


block body
	.site-wrapper
		.site-wrapper-inner
			.cover-container
				.masthead.clearfix
					.inner
						h3.masthead-brand
						nav
							
								
				.inner.cover
					h1.cover-heading Simple Timer Service
					p.lead Just a simple node.js app that provides an API that will call back to Salesforce after a specified number of seconds. Great for demo / prototype scenarios where you need to trigger something in a few seconds rather than wait minutes for something to happen via a workflow.
					if (accessToken === undefined) || (accessToken == null)
						p.lead
							| But it looks like you need to log into your Salesforce org to authorize this application to use the API. Press the button below to get signed in.
						p
							a.btn.btn-lg.btn-default(href='/oauth2/auth', role='button') Log Into My Salesforce Org!
					else
						p.lead
							| And it looks like you're successfully logged in. If you wish to log out, just press the button below.
						p
							a.btn.btn-lg.btn-danger(href='/oauth2/logout', role='button') Log me out!
					p.lead Salesforce Object set to #{config.sfObjectName}
					p.lead Callback URI set to #{config.callbackUri}
					p.lead Change those values in the config.js if they're incorrect.

				.mastfoot
					.inner
						p © Salesforce Sales Engineering 2017